/* Estilos del círculo del modo oscuro */
.mode {
    width: 60px;
    height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 100px;
    border: #333 solid 2px;
    background-color: rgb(124, 154, 236);
}

/* Estilos para el círculo del modo oscuro en la barra de navegación */
.font-medium li.mode {
    position: relative;
}

.font-medium li.mode::before {
    content: "";
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-color: #fff;
    border: solid thin #000;
    left: 0;
    right: unset;
}

.font-medium li.mode.active::before {
    right: 0;
    left: unset; 
    border: solid thin #fff;
}

/* Estilos para cambiar al modo oscuro en el body */
body.active {
    background-color: #2c2c2c;
    color: #ffffff;
}

body.active nav {
    background-color: #313131;
}

body.active nav ul {
    background-color: #313131;
}

body.active nav ul li a {
    color: #ffffff;
}

body.dark .header_info {
    background-color: #2c2c2c;
}

.h-8 {
    border-radius: 10px;
}